.blueBorder {
    /* border: 3px solid blue; */
}

.redBorder {
    /* border: 3px solid red; */
}

.yellowBorder {
    /* border: 3px solid yellow; */
}

li:hover{
    background: #171924;
}

ul{
    border-radius: 12px;
    display: table;
}
label{
    color:white
}
p{
    margin:0
}
.bullishBtn{
    color: rgb(0, 163, 0);
    background: transparent;
    border: 2px solid #00a300;
    border-radius: 10px;
    width: 100%;
}
.bullishBtn:hover{
    color: white;
    background: rgb(0, 163, 0);
    border: 1px solid #00a300;
}

.bearishBtn{
    color: rgb(255, 0, 0);
    background: transparent;
    border: 2px solid rgb(255, 0, 0);
    border-radius: 10px;
    width: 100%;
}
.bearishBtn:hover{
    color: white;
    background: #ff0000;
    border: 1px solid rgb(255, 0, 0);
}
small{
    color:white;
    margin: 0;
    padding: 0;
}
.msg{
    width: 100%;
    border-radius: 10px;
    background: #323546;
    border:none;
    color: rgb(212, 212, 212);
}
